@import './index.scss';

.body {
	background-color: $secondary-color;
}

.find-location {
	display: grid;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin: 1em;
}

.find-location-text {
	text-align: center;
	font-size: 3em;
	color: $primary-color;
}

.find-location-input {
	font-size: 2em;
	padding: 1vh 2vh;
	margin: 1vh;
	margin-bottom: 3vh;
	color: $primary-color;
	border: .5vh solid $primary-color;
	font-family: $main-font;
	border-radius: 1vh;
	outline: none;
	background-color: rgba(0,0,0,0);
}

.who-we-are {
	
}

.who-we-are-title {
	
}

.who-we-are-content {
	
}