body {
  margin: 0;
  font-family: "Futura", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$primary-color: #7F896E;
$main-font: "Futura", "Avenir", sans-serif;
