body {
  margin: 0;
  font-family: "Futura", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
	overflow-x: hidden;
}

$primary-color: #7F896E;
$primary-shadow: #666e59;
$primary-highlight: #a6b094;
$secondary-color: #FDF5EF;
$secondary-shadow: #F5EAE1;
$main-font: Futura, "Avenir", sans-serif;
