.carousel {
	display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
	width: 100%;
	height: auto;
	padding: 2em 0em;
}

.carousel::-webkit-scrollbar { width: 0 !important }

.divider {
	border: .1em solid #7F896E;
	margin: 1em 5em;
}

.find-location {
	display: grid;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin: 1em;
	margin-top: 1em;
}

.find-location-text {
	text-align: center;
	font-size: 3em;
	color: #7F896E;
}

.find-location-input {
	font-size: 3em;
	color: #7F896E;
	border: .1em solid #7F896E;
}