@import '../index.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.article-card, .article-card-big {
	display: inline-block;
	float: left;
	height: 25vh;
	width: 30vw;
	border-radius: .5em;
	box-shadow: 0em .25em .5em 0em rgba(0,0,0,.2);
	margin: 1vh;
	margin-top: 0vw;
	margin-bottom: 2vh;
	flex: 0 0 auto;
}

.article-card-big {
	height: 52vh;
}

.article-card .article-card-author {
	display: none;
}

.article-card-big .article-card-author {
	display: block;
	grid-row: 2;
	margin-left: .5em;
	align-self: start;
	font-size: 1.5em;
}

.article-card-image-wrapper {
	width: 100%;
	height: 80%;
	display: flex;
	background-color: lavender;
	border-radius: .5em .5em 0em 0em;
	box-shadow: inset 0 -5em 3em -5em rgba(0,0,0,.2);
	overflow: hidden;
	background-size: cover;
}

.article-card-content {
	border-radius: 0em 0em .5em .5em;
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
}

.article-card-big .article-card-content {
	display: grid;
	grid-rows: 1fr 1fr;
}

.article-card-title {
	margin: 0;
	margin-left: 1em;
	font-size: 1em;
	color: $primary-color;
}

.article-card-big .article-card-title {
	grid-row: 1;
	margin: 0;
	margin-left: .5em;
	font-size: 1.5em;
	align-self: end;
}

.article-card-author {
	margin: 0;
	margin-left: 1em;
	font-size: 1em;
	font-style: italic;
}

.article-card-tags {
	justify-self: start;
	align-self: start;
	color: white;
	margin: 1vw;
}

.article-card-tag {
	display: inline-block;
	background-color: white;
	color: gray;
	border-radius: 10em;
	float: left;
	margin-right: 1em;
	padding: 0.25em 0.5em;
}

.fa {
	float: right;
	margin-right: 0;
}

.article-favorite {
	justify-self: end;
	align-self: end;
	margin: 1vw;
	margin-right: 0;
	float: right;
	color: black;
}