@import '../index.scss';

.editor-header {
  display: inline-block;
	float: left;
  height: 40vh;
	width: 100vw;
  color: white;
  background-image: url("../assets/coffee.jpg");
	background-size: cover;
	background-position: bottom;
	margin-bottom: 4vh;
}

.editor-navbar {
	height: 40vh;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 20% 80%;
}

.editor-navbar .editor-logo {
	grid-column: 1;
	grid-row: 1;
	justify-self: start;
	align-self: center;
	margin: 0;
	margin-left: 5vw;
	margin-top: 5vw;
	font-size: 8vh;
}

.editor-navbar .editor-logo p {
  font-family: $main-font;
}

.editor-navbar .editor-login {
	grid-column: 3;
	grid-row: 1;
  justify-self: end;
	align-self: center;
	margin-right: 3vw;
	margin-top: 5vw;
}

.editor-login-button {
  font-family: $body-font;
	padding: .25em 1em;
	color: white;
	background-color: rgba(0,0,0,0);
	border: .1em solid white;
	border-radius: 5em;
	font-size: 3vh;
	outline:none;
	transition: all .5s ease;
	margin-right: 3vw;
}

.editor-login-button:hover {
	color: black;
	background-color: white;
	transition: all .5s ease;
}

.editor-navbar .editor-banner-text {
	grid-column: 1/4;
	grid-row: 1/3;
	justify-self: center;
  align-self: center;
  flex-direction: column;
  display: flex;
}

.editor-navbar .editor-banner-text input[type=text] {
  font-size: 5vh;
  font-family: $body-font;
  text-align: center;
  color: white;
  background: transparent;
  border: none;
	outline: none;
}
