@import '../index.scss';

.location-card {
	display: inline-block;
	float: left;
	height: 25vh;
	width: 25vw;
	border-radius: .5em;
	box-shadow: 0em 0 2em 0em rgba(0,0,0,.2);
	margin: 0em 1em;
	flex: 0 0 auto;
}

.location-card-image-wrapper {
	width: 100%;
	height: 80%;
	display: grid;
	grid-template-rows: 1fr 3fr;
	background-color: lavender;
	border-radius: .5em .5em 0em 0em;
	box-shadow: inset 0 -5em 3em -5em rgba(0,0,0,.2);
	backdrop-filter: brightness(.8);
	overflow: hidden;
	background-size: cover;
	padding: .5em 1em;
	box-sizing: border-box;
}

.location-card-content {
	border-radius: 0em 0em .5em .5em;
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
}

.location-card-title {
	grid-row: 2;
	align-self: end;
	justify-self: start;
	font-size: 2em;
	color: white;
	margin: 0;
}

.location-card-subtitle {
	margin: 0;
	margin-left: 1em;
	font-size: 1em;
	font-size: 1em;
	color: $primary-color;
}